.test_image_and_result {
    background-color: grey;
    border-radius: 20px;
    padding: 25px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px grey;
}
h5 {
    background-color: white;
    border-radius: 20px;
    width: 200px !important;
    font-size: 19px !important;
    margin-right: 70px;
}
body {
    text-align: center;
}
h1 {
    font-size: 50px !important;
    border-radius: 20px !important;
}
h3 {
    font-size: 35px !important;
    border-radius: 20px !important;
}
.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: black;
    line-height: 3;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}